<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620429005943-olj1hlqvcis81nqtqmmck8rickrb7ij0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620429005943-olj1hlqvcis81nqtqmmck8rickrb7ij0</string>
	<key>API_KEY</key>
	<string>AIzaSyC89PZlH9enF884Jyxwq65AMtpFIhpKknc</string>
	<key>GCM_SENDER_ID</key>
	<string>620429005943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spot</string>
	<key>PROJECT_ID</key>
	<string>spot-3215b</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-3215b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620429005943:ios:5f03f7f628152b51aae272</string>
</dict>
</plist>